.container {
  font-size: 100%;
  max-width: 800px;
  margin: 0 auto;
}

li {
  list-style-type:none;
  display: inline;
  margin: 2%;
}

ul.links {
  padding-left:25%;
}
/* ===== HEADER ===== */

header {
  padding: 5%, 5%;
  overflow: auto;
}


/* ===== MAIN ===== */

main {
  color: black;
  overflow: auto;
}

main h3 {
  font-family: "Pacifico", cursive;
  font-size:72px;
  padding-left:22%;
  color:#08C28B;
}

a:hover {
  border-bottom: solid 4px black;
}
