body {
    background-color: #ffffff;
}

H1 {
   font-family: 'Arial';
   letter-spacing: 2px;
   font-size: 60px;
   background: #ffffff;
   color: #00CC99;
   text-align: center;

}

H2 {
   font-family: arial;
   font-size: 20px;
   background: #ffffff;
   color: #000000;
   text-align: center;
}

P {
   font-family: arial;
   font-size: 10px;
   background: #ffffff;
   color: 00CC99;
   text-align: justify;

}

/* unvisited link */
a:link {
    color: #000066;
    text-decoration: none;
    font-weight: bold;

}

/* visited link */
a:visited {
    color: #000066;
    text-decoration: none;
    font-weight: bold;


}

/* mouse over link */
a:hover {
    color: #00CC99;
    text-decoration: none;
    font-weight: bold;

}

/* selected link */
a:active {
    color: #000066;
    text-decoration: none;
    font-weight: bold;


}

table {
  border-collapse: collapse;
  font-family: arial;
  font-size: 14px;
  background: #F8F8F8;
  color: black;
  border: 1px dotted grey;

}
